<div class="labeller">
    <ul class="labels"
        ng-if="ctrl.list.length > 0">
        <li class="label"
            ng-repeat="element in ctrl.list">

            <span ng-if="ctrl.disabled" class="label__value label__value--compact">{{element}}</span>

            <a class="label__value label__value--compact label__link"
               ng-if="!ctrl.disabled"
               ui-sref="search.results({query: (element | queryLabelFilter)})">
                {{element}}
            </a>
        </li>
    </ul>
</div>
