<li class="element"
    ng-repeat="element in ctrl.listWithOccurrences"
    ng-class="{'element--partial': element.count < ctrl.images.size}">
    <button ng-if="element.count < ctrl.images.size"
            class="element__add"
            title="Apply element to all"
            ng-click="ctrl.addElements([element.data])">
        <gr-icon>library_add</gr-icon>
    </button>
    <span class="element__value">{{element.data}}</span>
    <button class="element__remove"
            title="Remove element from all"
            ng-click="ctrl.removeElement(element.data)">
        <gr-icon>close</gr-icon>
    </button>
</li>
